-
  const items = [
    {
      title: 'mass surveillance internet privacy',
      md_size: 's'
    },
    {
      title: 'China',
      md_size: 'l'
    },
    {
      title: 'whatsapp police dna',
      md_size: 'xxs'
    },
    {
      title: 'nsa',
      md_size: 'm'
    },
    {
      title: 'Ukraine',
      md_size: 's'
    },
    {
      title: 'gchg',
      md_size: 'xxs'
    },
    {
      title: 'internet censorship facial recognition',
      md_size: 'xs'
    },
    {
      title: 'isp',
      md_size: 's'
    },
    {
      title: 'Apple',
      md_size: 'xxs'
    },
    {
      title: 'United Kingdom',
      md_size: 'm'
    },
    {
      title: 'amazon metadata turkey',
      md_size: 'xxs'
    },
    {
      title: 'vpn',
      md_size: 'm'
    },
    {
      title: 'tracking broadband privacy',
      md_size: 'xxs'
    },
    {
      title: 'Canada',
      md_size: 'xs'
    },
    {
      title: 'encription',
      md_size: 's'
    },
    {
      title: 'twitter UK',
      md_size: 'xxs'
    },
    {
      title: 'surveillance EU',
      md_size: 'xl'
    },
    {
      title: 'facebook',
      md_size: 'l'
    },
    {
      title: 'India',
      md_size: 'xs'
    },
    {
      title: 'freedom of expression',
      md_size: 'xxs'
    },
    {
      title: 'agit pai bitcoin',
      md_size: 's'
    },
    {
      title: 'internet historyg dpr microsoft',
      md_size: 'xxs'
    },
    {
      title: 'fcc',
      md_size: 'xxl'
    },
    {
      title: 'censorship',
      md_size: 'xs'
    },
    {
      title: 'germany file sharing',
      md_size: 'xxs'
    },
    {
      title: 'privacy',
      md_size: 'xxl'
    },
    {
      title: 'copyright',
      md_size: 'xs'
    },
    {
      title: 'anonymity internet of things',
      md_size: 'xxs'
    },
    {
      title: 'google',
      md_size: 'l'
    },
    {
      title: 'australia net neutrality',
      md_size: 's'}
  ];

.could
  h3.could__title Tag could
  ul.could__list
    each item in items
      li.could__item
        a.could__link(class=`could__link--${item.md_size}` href=item.url || '#')= item.title
