mixin header
	header.header
		nav.header__nav
			.menu_tag
				span.menu_tag__title TAGS:
				+menu({
					gl_class: 'menu_tag',
					items: [
					{title: 'bitcoin', url: '#', active: false},
					{title: 'bittorrent', url: '#', active: false},
					{title: 'irc', url: '#', active: false},
					{title: 'news', url: '#', active: false},
					{title: 'privacy', url: '#', active: false},
					{title: 'programming', url: '#', active: false},
					{title: 'security', url: '#', active: false}
					]
				})
			.menu_info
				+menu({
					gl_class: 'menu_info',
					items: [
						{title: 'team', url: '#', active: false},
						{title: 'contact', url: '#', active: false}
					]
				})
