mixin header
	header.header
		.section_in
			nav.header__nav
				.header_tag
					span.header_tag__title TAGS:
					+menu({
						gl_class: 'header_tag',
						items: [
						{title: 'bitcoin', url: '#', active: false},
						{title: 'bittorrent', url: '#', active: false},
						{title: 'irc', url: '#', active: false},
						{title: 'news', url: '#', active: false},
						{title: 'privacy', url: '#', active: false},
						{title: 'programming', url: '#', active: false},
						{title: 'security', url: '#', active: false}
						]
					})
				.header_info
					+menu({
						gl_class: 'header_info',
						items: [
							{title: 'team', url: '#', active: false},
							{title: 'contact', url: '#', active: false}
						]
					})
