mixin menu_with_title(data)
  div.select
    div.select__caption
      div.select__icon
        +icon(data.name_icon)
      h3.select__title= data.title
    +menu({
      gl_class: 'select',
      items: data.items
    })
