block project_vars
	// -
	// 	arraySample  = {
	// 		title: 'title',
	// 	}
	-
		ArrayPost = {
			gl_class: 'post',
			items: [
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_1'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_2'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_3'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_1'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_2'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_3'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				}
			]
		}

		ArraySelect = [
			{
				gl_class: 'select',
				name_icon: 'bell',
				title: 'Announcements',
				items: [
					{title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)', url: '#', active: false},
					{title: 'New Servers (US Washington DC)', url: '#', active: false},
					{title: 'New Servers (US Denver)', url: '#', active: false},
					{title: 'Open Source: Releasing the PIA iOS Client', url: '#', active: false},
					{title: 'Opera Extension is now availabley', url: '#', active: false}
				]
			},
			{
				gl_class: 'select',
				name_icon: 'news',
				title: 'Popular posts',
				items: [
					{title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture', url: '#', active: false},
					{title: 'About the PIA Client Security and VPN Security in General', url: '#', active: false},
					{title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech', url: '#', active: false},
					{title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie', url: '#', active: false}
				]
			}
		]

		Could = {
			gl_class: 'could',
			title: 'Tag could',
			items: [
				{title: 'mass surveillance internet privacy', url: '#', md_size: 's'},
				{title: 'China', url: '#', md_size: 'l'},
				{title: 'whatsapp police dna', url: '#', md_size: 'xxs'},
				{title: 'nsa', url: '#', md_size: 'm'},
				{title: 'Ukraine', url: '#', md_size: 's'},
				{title: 'gchg', url: '#', md_size: 'xxs'},
				{title: 'internet censorship facial recognition', url: '#', md_size: 'xs'},
				{title: 'isp', url: '#', md_size: 's'},
				{title: 'Apple', url: '#', md_size: 'xxs'},
				{title: 'United Kingdom', url: '#', md_size: 'm'},
				{title: 'amazon metadata turkey', url: '#', md_size: 'xxs'},
				{title: 'vpn', url: '#', md_size: 'm'},
				{title: 'tracking broadband privacy', url: '#', md_size: 'xxs'},
				{title: 'Canada', url: '#', md_size: 'xs'},
				{title: 'encription', url: '#', md_size: 's'},
				{title: 'twitter UK', url: '#', md_size: 'xxs'},
				{title: 'surveillance EU', url: '#', md_size: 'xl'},
				{title: 'facebook', url: '#', md_size: 'l'},
				{title: 'India', url: '#', md_size: 'xs'},
				{title: 'freedom of expression', url: '#', md_size: 'xxs'},
				{title: 'agit pai bitcoin', url: '#', md_size: 's'},
				{title: 'internet historyg dpr microsoft', url: '#', md_size: 'xxs'},
				{title: 'fcc', url: '#', md_size: 'xxl'},
				{title: 'censorship', url: '#', md_size: 'xs'},
				{title: 'germany file sharing', url: '#', md_size: 'xxs'},
				{title: 'privacy', url: '#', md_size: 'xxl'},
				{title: 'copyright', url: '#', md_size: 'xs'},
				{title: 'anonymity internet of things', url: '#', md_size: 'xxs'},
				{title: 'google', url: '#', md_size: 'l'},
				{title: 'australia net neutrality', url: '#', md_size: 's'},
			]
		}
