block project_vars
	// -
	// 	arraySample  = {
	// 		title: 'title',
	// 	}
	-
		ArrayPost = {
			gl_class: 'post',
			items: [
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_1'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_2'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_3'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_1'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_2'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: true,
						img: 'Bitmap_3'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				}
			]
		}
