block project_vars
	// -
	// 	arraySample  = {
	// 		title: 'title',
	// 	}
	-
		ArrayPost = {
			gl_class: 'post',
			items: [
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_1',
						media: 1200,
						img_mob: 'Bitmap_1@2x'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_2',
						media: 1200,
						img_mob: 'Bitmap_2@2x'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_3',
						media: 1200,
						img_mob: 'Bitmap_3@2x'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_1',
						media: 1200,
						img_mob: 'Bitmap_1@2x'
					},
					autor: 'Derek Zimmer',
					title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
					date: 'JUL 25, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Networking', url: '#', active: false},
						{title: 'Open Source', url: '#', active: false},
						{title: 'Privacy', url: '#', active: false},
						{title: 'Security', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_2',
						media: 1200,
						img_mob: 'Bitmap_2@2x'
					},
					autor: 'Jayson',
					title: 'How to get cheaper flights using a VPN',
					date: 'JUL 24, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Guides', url: '#', active: false}
					]
				},
				{
					picture: {
						class: 'post__pic',
						img_class: 'post__img',
						jpeg: 'jpeg',
						is2x: false,
						img: 'Bitmap_3',
						media: 1200,
						img_mob: 'Bitmap_3@2x'
					},
					autor: 'Chris Miller',
					title: 'Net Neutrality was repealed, but the fight  is far from over',
					date: 'JUL 22, 2018',
					count: '0',
					linkAnswer: '#',
					links: [
						{title: 'Governments', url: '#', active: false},
						{title: 'Net Neutrality', url: '#', active: false},
						{title: 'News', url: '#', active: false}
					]
				}
			]
		}

		ArraySelect = [
			{
				name_icon: 'bell',
				title: 'Announcements',
				items: [
					{title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)', url: '#', active: false},
					{title: 'New Servers (US Washington DC)', url: '#', active: false},
					{title: 'New Servers (US Denver)', url: '#', active: false},
					{title: 'Open Source: Releasing the PIA iOS Client', url: '#', active: false},
					{title: 'Opera Extension is now availabley', url: '#', active: false}
				]
			},
			{
				name_icon: 'news',
				title: 'Popular posts',
				items: [
					{title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture', url: '#', active: false},
					{title: 'About the PIA Client Security and VPN Security in General', url: '#', active: false},
					{title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech', url: '#', active: false},
					{title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie', url: '#', active: false}
				]
			}
		]
