.could {

}

.could__title {
  margin-bottom: 2.8rem;

  font-family: $font_2;
  font-weight: 300;
  font-size: 3.4rem;
  color: $color_text_content;
}

.could__item {
  display: inline;
}

.could__link {

  margin-right: .5em;

  font-family: $font_3;
  font-weight: 500;
  color: $color_text_title;

  cursor: pointer;

  &.could__link--xxl {
    font-size: 4rem;
  }

  &.could__link--xl {
    font-size: 3rem;
    color: rgba($color_text_title, .9);
  }

  &.could__link--l {
    font-size: 2rem;
    color: rgba($color_text_title, .8);
  }

  &.could__link--m {
    font-size: 1.8rem;
  }

  &.could__link--s {
    font-size: 1.6rem;
    color: rgba($color_text_title, .7);
  }

  &.could__link--xs {
    font-size: 1.4rem;
    color: rgba($color_text_title, .6);
  }

  &.could__link--xxs {
    font-size: 1.2rem;
    color: rgba($color_text_title, .5);
  }
}
