.header_tag {
	@extend %global_flex_block_row_nowrap_flex-start;

  padding: 0 2rem 2rem 0;
  margin:  0 -2rem -1rem 0;

  font-family: $font_3;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  overflow: hidden;

  @include bp($point_4) {
    flex-wrap: wrap ;
  }
}

.header_tag__title {
  padding: 0 2rem 1rem 0;
  color: $color_text_title;
}

.header_tag__list {
	@extend %global_flex_block_row_nowrap_flex-start;

  padding: 0 2rem 1rem 0;
  margin: 0 -4rem -1rem 0;

  overflow: hidden;

  @include bp($point_1) {
    margin-right: -2rem;
  }

  @include bp($point_4) {
    flex-wrap: wrap ;
  }
}

.header_tag__item {
  padding: 0 4rem 1rem 0;

  @include bp($point_1) {
    padding-right: 2rem;
  }
}

.header_tag__link {
  color: $color_link_base;
}
