.menu_tag {
	@extend %global_flex_block_row_nowrap_flex-start;

  font-family: $font_3;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include bp($point_4) {
    flex-wrap: wrap ;
  }
}

.menu_tag__title {
  margin-right: 4rem;

  color: $color_text_title;

  @include bp($point_1) {
    margin-right: 2rem;
  }
}

.menu_tag__list {
	@extend %global_flex_block_row_nowrap_flex-start;

  margin-right: -4rem;

  @include bp($point_1) {
    margin-right: -2rem;
  }

  @include bp($point_4) {
    flex-wrap: wrap ;
  }
}

.menu_tag__item {
  margin-right: 4rem;

  @include bp($point_1) {
    margin-right: 2rem;
  }
}

.menu_tag__link {
  color: $color_link_base;
}
