

.post {
	@extend %global_flex_block_row_nowrap_flex-start;

  @include bp($point_1) {
    flex-direction: column;
  }
}

.post__link_pic {
  display: block;

  @include bp($point_1) {
    width: 100%;
  }
}

.post__pic {
  display: block;
  width: 28.1rem;
  height: 18.1rem;

  margin-right: 2rem;

  @include bp($point_1) {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }

  @include bp($point_4) {
    height: 64vw;
  }
}

.post__img {
  @extend %cover_img;
}


.post__info {
	@extend %global_flex_block_column_nowrap_flex-start;
  // display: flex;
  // flex-direction: column;
}

.post__inner {
  @extend %global_flex_block_row_nowrap_flex-start_center;
  // display: flex;
  // align-items: center;

  margin-bottom: 1rem;
}

.post__autor {
  padding-right: 1rem;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: $color_text_title;
}

.post__title {
  margin-bottom: 1.6rem;

  font-family: $font_2;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
  color: $color_text_content;

  cursor: pointer;
}

.post__date {
  padding-left: 1rem;

  font-size: 1.4rem;
  font-weight: 400;
  color: $color_text_note;

  border-left: 2px solid $color_text_note;
}

.post__cards {
  margin-bottom: 1.6rem;
}
.post_card__list {
  @extend %global_flex_block_row_wrap_flex-start;
  margin: 0 -1rem -1rem 0;

  overflow: hidden;
}

.post_card__item  {
  padding: 0 1rem 1rem 0;
}


.post_card__link {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;

  &::after {
    content: ',';
  }

}

.post_card__item:last-child .post_card__link::after {
  content: '';
}

.post_answer {
  @extend %global_flex_block_row_nowrap_flex-start_center;
  // display: flex;
  // align-items: center;
}

.post_answer__count {
  margin-right: .4rem;

  font-size: 1.4rem;
  font-weight: 400;
  color: $color_text_note;
}

.post_answer__link {
  display: block;

  width: 1rem;
  height: 1rem;

  color: $color_text_note;
}
