.post__list {
  display: flex;
  flex-direction: column;

  margin: 0 0 4rem 0;
}

.post {
  --pading_card_left: 0;
  --pading_card_rigth: 1rem;

  display: flex;
  align-items: start;

  padding: 3rem var(--pading_card_rigth) 3rem var(--pading_card_left);

  border-bottom: 1px solid $color_br_base;

  @media (max-width: $point_1) {
    flex-direction: column;

    --pading_card_left: 1rem;
  }
}

.post__pic {
  display: block;
  width: 28.1rem;
  height: 18.1rem;
  flex-shrink: 0;

  margin: 0 2rem 0 0;

  @media (max-width: $point_1) {
    width: 100%;
    height: auto;
    margin: 0;
  }

  @media (max-width: $point_4) {
    height: calc(64wv - var(--pading_card_left) - var(--pading_card_rigth));
  }
}

.post__img {
  @extend %cover_img;
}


.post__info {
  display: flex;
  flex-direction: column;
}

.post__inner {
  display: flex;
  align-items: center;

  margin: 0 0 1rem 0;
}

.post__autor {
  padding: 0 1rem 0 0;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: $color_text_title;
}

.post__title {
  margin: 0 0 1.6rem 0;

  font-family: $font_2;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
  color: $color_text_content;

  cursor: pointer;
}

.post__date {
  padding: 0 0 0 1rem;

  font-size: 1.4rem;
  font-weight: 400;
  color: $color_text_note;

  border-left: 2px solid $color_text_note;
}

.post_card__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 1.6rem 0;
}

.post_card__item  {
  margin: 0 1rem 0 0;

  &:last-child .post_card__link::after {
    content: '';
  }
}

.post_card__link {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;

  &::after {
    content: ',';
  }

}

.post__answer {
  display: flex;
  align-items: center;
}

.answer__count {
  margin: 0 .4rem 0 0;

  font-size: 1.4rem;
  font-weight: 400;
  color: $color_text_note;
}
