.search {
  position: relative;

  margin: 0 0 4rem 0;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 2rem;

  transform: translateY(-50%);
}

.search__input {
  @extend %form_el_default;

  font-family: $font_2;
  font-weight: 300;

}
