.select {
  padding-bottom: 2.8rem;
  margin-bottom: 2.4rem;

  border-bottom: 1px solid $color_br_base;
}

.select__caption {
  @extend %global_flex_block_row_nowrap_flex-start_center;
  // display: flex;
  // align-items: center;

  margin-bottom: 3rem;
}

.select__icon {
  width: 4rem;
  height: 4rem;

  margin-right: 3rem;

  color: $color_link_base;
}

.select__title {
  font-family: $font_2;
  font-weight: 300;
  font-size: 2.4rem;
  color: $color_text_content;
}

.select__list {
  padding-left: 1.4rem;
  margin-bottom: -2.4rem;
}

.select__item {
  margin-bottom: 2.4rem;
  list-style: disc;
  color: $color_link_base;
}

.select__link {
  font-weight: 400;
  font-size: 1.4rem;
  color: $color_text_title;
}
