//---------------------------------------------ohter_icons
.icon {
	display: block;

	fill: currentColor;

	&.icon--size_mod {
		width: 100%;
		height: 100%;
	}

	&.icon_count {
		width: 1em;
		height: 1em;

		stroke: $color_text_note;
		fill: transparent;

		&:hover {
			stroke: $color_link_base;
		}
	}
}
