//---------------------------------------------ohter_icons
.icon {
	display: block;

	fill: currentColor;

	&.icon--size_mod {
		width: 100%;
		height: 100%;
	}

	&.icon_count {
		width: 1em;
		height: 1em;

		stroke: $color_text_note;
		fill: transparent;

		&:hover {
			stroke: $color_link_base;
		}
	}

	&.icon_search {
		width: 2rem;
		height: 2rem;

		stroke: $color_text_content;
		fill: transparent;

	}

	&.icon_bell {
		width: 4rem;
		height: 4rem;

		stroke: $color_link_base;
		fill: transparent;
	}

	&.icon_news {
		width: 4rem;
		height: 4rem;

		stroke: $color_link_base;
		fill: transparent;
	}
}
