// .btn_base {
// 	@extend %blue_btn_1;
// 	@extend %btn_size_1;
// }

.btn {
  @extend %transition_color_background;

  align-self: center;
  min-width: 26rem;
  max-width: 30rem;

  font-family: $font_3;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.6;
  color: $color_link_base;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #4cb649;
  border-radius: 2em;

  cursor: pointer;

  &:hover {
    color: $white;
    background-color: #4cb649;
  }

  &:active {
    color: $color_text_content;
  }

}
