extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	main.main
		h1.main__title Recent posts
		ul.post__list
			each item in ArrayPost.items
				li.post__item
					+post(item, ArrayPost.gl_class)
		button.btn(type='button') older post
	aside.sidebar
		.search
			input.search__input(type='searh'	placeholder='Search blog' name='search',)
			span.search__icon
				+icon('search')
		each itemSelect in ArraySelect
			+menu_with_title(itemSelect)
		.baner
			a.baner__link(href='#' target="default")
				+picture({
					class: 'baner__pic',
					img_class: 'baner__img',
					jpeg: 'jpeg',
					is2x: true,
					img: 'Baner'
				})
		include ../blocks/could_tag
