//------------------------------------------------------------layout
.header {

	padding-top: 40px;
}

.header__nav {
	display: flex;

	padding: 2.2rem 7.4rem 2.2rem 3.2rem;

	background-color: $color_bg_header;
	border-radius: 4px;

	overflow: hidden;

	@media (max-width: $point_2) {
		flex-direction: column;
	}

	@media (max-width: $point_4) {
		padding: 2.2rem 1rem 2.2rem 1rem;

	}
}

//------------------------------------------------------------layout###
